html {
	height: 100%;
	width: 100%;
	margin: 0;
}
body {
	font-family: "Shippori Mincho";
	margin: 0;
	width: 100%;
	height: 100%;
}

header {
	font-family: "Shippori Mincho";
	width: 100%;
	display: flex;
	justify-content: center;
	white-space: nowrap;
}

ul {
	padding-inline-start: 0px;
}

h1,
h2 {
	white-space: nowrap;
}

.text-white {
	color: white;
}

.margin-0 {
	margin: 0;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

/* マージン */
.margin-y-40 {
	margin: 40px 0;
}

.mb-20 {
	margin-bottom: 20px;
}

.margin-0 {
	margin: 0;
}

/* Flexアイテム */
.d-flex {
	display: flex;
}

.d-column {
	display: flex;
	flex-direction: column;
}

.justify-center {
	display: flex;
	justify-content: center;
}

.justify-end {
	display: flex;
	justify-content: end;
}

.justify-between {
	display: flex;
	justify-content: space-between;
}

.justify-start {
	display: flex;
	justify-content: start;
}

.justify-self-center {
	justify-self: center;
}

.justify-self-start {
	justify-self: start;
}

.justify-self-end {
	justify-self: end;
}

.align-center {
	display: flex;
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

/* 寄せ */

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-rigth {
	text-align: right;
}

/* スペーサー */

.v-spacer {
	margin: 0 auto;
}

/* エリア width */
.section-area {
	width: 100%;
	margin: 30px 0;
}

.items-area {
	max-width: 320px;
	width: 100%;
}

.text-area {
	width: auto;
	line-height: 200%;
	padding: 0 8px;
	font-size: 14px;
}

/* ボーダー */

.border-b {
	border-bottom: 1px solid #0c6b41;
}

/* 強調太線 */
.v-hr-green {
	width: 80px;
	height: 10px;
	border-bottom: 3px solid #0c6b41;
	margin: 20px auto 20px;
}

.v-hr-white {
	width: 80px;
	height: 10px;
	border-bottom: 3px solid white;
	margin: 20px auto 20px;
}

/* ホームセクション */
.main-bg-image {
	width: 100%;
	height: 700px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		"img1 img1 img2"
		"img1 img1 img2"
		"img5 img3 img3"
		"img5 img4 img4";
}

.imges {
	opacity: 0.8;
}

.img1 {
	grid-area: img1;
	background-image: url(../assets/img/thumbnails/meia.JPG);
	background-size: cover;
}

.img2 {
	grid-area: img2;
	background-image: url(../assets/img/thumbnails/a1a.JPG);
	background-size: cover;
}

.img3 {
	grid-area: img3;
	background-image: url(../assets/img/thumbnails/p1a.JPG);
	transform: scale(-1, 1);
	background-size: cover;
}

.img4 {
	grid-area: img4;
	background-image: url(../assets/img/thumbnails/r2a.JPG);
	background-size: cover;
}

.img5 {
	grid-area: img5;
	background-image: url(../assets/img/thumbnails/h3a.JPG);
	background-size: cover;
}

.main-contents {
	border-radius: 10px;
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 2;
	border: #0c6b41 10px solid;
}

/* クラウドラインとメインロゴ関係 */
.cloud-loop {
	position: relative;
	display: flex;
	/* border: 1px solid black; */
	overflow: hidden;
	height: 100px;
}

.main-logo {
	position: absolute;
	width: 100px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	z-index: 2;
}

.cloud-line {
	position: absolute;
	display: flex;
	bottom: 0;
	height: 30px;
	width: auto;
}

.cloud-line img:first-child {
	animation: loop2 200s linear infinite;
}

/* シティーライン関係 */

.loop-img {
	display: flex;
	width: 100vw;
	overflow: hidden;
}

.loop-img img {
	width: auto;
	height: 50px;
}

.loop-img img:first-child {
	animation: loop 50s -25s linear infinite;
}

.loop-img img:last-child {
	animation: loop2 50s linear infinite;
}

@keyframes loop {
	0% {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes loop2 {
	0% {
		transform: translateX(0);
	}
	to {
		transform: translateX(-200%);
	}
}

/* セクションタイトル */
.title-box {
	color: white;
	width: 40%;
	max-width: 400px;
	background: #0c6b41;
	border-radius: 0 60px 60px 0;
	padding: 4px 46px 4px 4px;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
}

.title-box > div {
	width: 100%;
	max-width: 400px;
	background: #0c6b41;
	border-radius: 0 70px 70px 0;
	padding-right: 40px;
	padding-bottom: 4px;
	border-top: white 2px solid;
	border-bottom: white 2px solid;
	border-right: white 2px solid;
}

.title-box h2 {
	border-bottom: #579435 4px solid;
	margin: 0;
}

.title-box h4 {
	margin: 0;
	padding: 0;
}

/* リスト関係 */
.list-box {
	margin: 40px 0;
	border-radius: 10px;
	/* border-top: #579435 4px solid; */

	position: relative;
	width: auto;
	padding: 0 6px;
}

.list-box:before,
.list-box:after {
	content: "";
	width: 20px;
	height: 30px;
	position: absolute;
	display: inline-block;
}
.list-box:before {
	border-right: solid 2px #579435;
	border-top: solid 2px #579435;
	top: 0;
	right: 0;
}
.list-box:after {
	border-left: solid 2px #579435;
	border-bottom: solid 2px #579435;
	bottom: 0;
	left: 0;
}

.list-box > h5 {
	position: absolute;
	margin: 0;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	z-index: 2;
	background: #0c6b41;
}

.list-items {
	font-size: 14px;
	line-height: 60px;
	margin: 20px 8px;
}

.list-items > h5 {
	text-align: center;
	font-size: 14px;
}

/* カード関係 */
.card-outline {
	width: 100%;
	border-radius: 8px;
	background: #0c6b41;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
}

.card-inline {
	width: 100%;
	border: 1px solid white;
	margin: 10px;
}

.card-contents {
	margin: 20 0px;
}

/* 写真関係 */

.rounded-circle {
	border-radius: 50% !important;
}

.img-thumbnail {
	padding: 0.25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	max-width: 100%;
	height: auto;
}

/* テーブル関係 */

.mytable {
	font-size: 1rem;
	width: 100%;
	border-collapse: collapse;
	box-sizing: border-box;
	border: 1px solid #0d804c;
}

.mytable th {
	background: #0d804c;
	color: white;
	border: 1px solid white;
	box-sizing: border-box;
}

.mytable rb {
	font-size: 12px;
}

.mytable td {
	vertical-align: middle;
	border-bottom: 0.5px solid #0d804c;
	box-sizing: border-box;
}

@media screen and(min-width:768px ) {
	.mytable td {
		text-align: left;
	}
}

@media screen and (max-width: 767px) {
	.mytable th,
	td {
		display: block;
		width: 100%;
		margin-top: -1px;
		text-align: center;
	}
}

.history-margin {
	padding-right: 40px;
}
