header.masthead {
	padding-top: 10rem;
	padding-bottom: calc(10rem - 4.5rem);
	background: white;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

hr.divider {
	background: #0c6b41;
}

hr.wid-line {
	height: 0.2rem;
	width: auto;
	margin: 1.5rem auto;
	color: #34b179;
	opacity: 1;
}

hr.divider-light {
	background-color: #fff;
}

.carousel-caption {
	position: absolute;
	right: 15%;
	bottom: 0.1rem;
	left: 15%;
	padding-top: 10px;
	padding-bottom: 0;
	color: #fff;
	text-align: center;
}

.carousel-indicators {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	padding: 0;
	margin-right: 15%;
	margin-bottom: 20px;
	margin-left: 15%;
	list-style: none;
}

.card {
	/* border: 0.4px solid #ced4da; */
	border-radius: 0.25rem;
	margin: 2px;
}

.mycard-image img {
	padding: 0.25rem;
	border-radius: 0.3rem;
	max-width: 100%;
	height: auto;
}

.cahnge-time3 {
	animation-duration: 10s;
}

.ani-fadeUp,
.ani-up {
	opacity: 0;
}

.logo-box {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	border-bottom: 1px solid #0c6b41;
	margin-bottom: 14px;
}

.logo-box h2 {
	margin-left: 2rem;
}

.logo-box object {
	width: 16rem;
	margin-left: auto;
}

.daio-logo {
	width: 12rem;
	margin: 0 auto;
}

.circle > a {
	color: #5e5e5e;
}
